.country-list {
	background-color: #fff;
	width: 388px;
	height: 470px;
	font-size: 0.8rem;

	&__topbar {
		display: flex;
		justify-content: space-between;
		padding: 0.8rem 1rem;
		background-color: #5682a3;

		span {
			padding: 0.5rem;
			color: #fafafa;
			font-weight: bold;
		}

		span:nth-child(2) {
			color: #ccc;
			cursor: pointer;

			&:hover {
				color: #fafafa;
			}
		}
	}

	&__container {
		&-search {
			position: relative;

			i {
				color: #a1a1a1;
				position: absolute;
				top: 1.6rem;
				left: 1.8rem;
				transform: rotateZ(90deg);
			}

			&__input {
				font-size: 0.7rem;
				line-height: 1rem;
				padding: 0.5rem;
				padding-left: 2rem;
				border: none;
				border: 1px solid #f2f2f2;
				outline: none;
				margin: 1rem;
				width: calc(100% - 2rem);
				background-color: #f2f2f2;

				&:focus {
					border: 1px solid #ccc;
					background-color: #fff;
				}
			}
		}

		&-list {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				padding: 0.8rem 1.8rem;
				display: flex;
				justify-content: space-between;
				font-size: 0.75rem;
				cursor: pointer;

				&:hover {
					background-color: #5978ad10;
				}

				&:hover span:nth-child(2) {
					color: #5978ad;
				}

				span:nth-child(2) {
					color: #a1a1a1;
				}
			}
		}
	}
}
